@import url("./style.css");

/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/
/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 991px){
   .pubb{
       display: none;
   }
   .page{
       padding: 1%;
   }
    .banner{
        width: 100%;
    }
    .news{
        padding: 0;
        margin: 0;
    }
    .immnews{
        width: 100%;
    }
    .immnews2{
        margin: 0;
        width: 100%;
    }
    .imm{
        padding: 0;
        width: 32%;
    }
    /*NEWS PAGE*/
    .foglio{
        margin: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10%;
    }
    .immnews3{
        padding: 1%;
    }
    .immnews4{
        width: 32%;
        display: inline-block;
        padding: 1%;
        padding-top: 35px;
    }
    .immnews4 h2{
        font-family: "Helvetica Neue"; font-size: 10px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
    .news p{
        font-family: "Helvetica Neue"; font-size: 10px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
        padding: 0;
    }
    .news h1{
        font-family: "Helvetica Neue"; font-size: 14px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 27.5px; padding: 20px; padding-bottom: 5px; margin: 0;
    }
    .news h2{
        font-family: "Helvetica Neue"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
    .immnews2 h2{
        font-family: "Helvetica Neue"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
}






/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/
@media only screen and (min-width: 599px) and (max-width: 767px){
    .pubb{
        display: none;
    }
    .banner{
        width: 100%;
    }
    .immnews{
        width: 100%;
        font-size: 10px;
    }
    .immnews2{
        margin: 0;
        width: 100%;
    }
    .imm{
        padding: 0;
        width: 32%;
    }
    .remove img{
        display: none;
    }
    .cta{
        display: none;
    }
    body{
        font-size: 12px;
    }

    /*NEWS PAGE*/
    .foglio{
        margin: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 25%;
    }
    .immnews3{
        padding-top: 10%;
    }
    .immnews4{
        width: 32%;
        display: inline-block;
        padding: 1%;
        padding-top: 1%;
    }
    .immnews4 h2{
        font-family: "Helvetica Neue"; font-size: 8px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
    .news p{
        font-family: "Helvetica Neue"; font-size: 8px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
        padding: 0;
    }
    .news h1{
        font-family: "Helvetica Neue"; font-size: 10px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 27.5px; padding: 20px; padding-bottom: 5px; margin: 0;
    }
    .news h2{
        font-family: "Helvetica Neue"; font-size: 10px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
    .immnews2 h2{
        font-family: "Helvetica Neue"; font-size: 10px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
}



/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/
@media only screen and (min-width: 280px) and (max-width: 599px){
    .pubb{
        display: none;
    }
    .banner{
        width: 100%;
    }
    .immnews{
        width: 100%;
        font-size: 6px;
    }
    .immnews2{
        margin: 0;
        width: 100%;
    }
    .imm{
        padding: 0;
        width: 32%;
    }
    .remove img{
        display: none;
    }
    .cta{
        display: none;
    }
    body{
        font-size: 8px;
    }

    /*NEWS PAGE*/
    .foglio{
        margin: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 45%;
    }
    .immnews3{
        padding-top: 10%;
    }
    .immnews4{
        width: 32%;
        display: inline-block;
        padding: 1%;
        padding-top: 1%;
    }
    .immnews4 h2{
        font-family: "Helvetica Neue"; font-size: 8px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
    .news p{
        font-family: "Helvetica Neue"; font-size: 8px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
        padding: 0;
    }
    .news h1{
        font-family: "Helvetica Neue"; font-size: 8px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 27.5px; padding: 20px; padding-bottom: 5px; margin: 0;
    }
    .news h2{
        font-family: "Helvetica Neue"; font-size: 8px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
    .immnews2 h2{
        font-family: "Helvetica Neue"; font-size: 8px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
    }
}




















/*@media (max-width: 768px) {

    .cta{display: none;}
    
    .hero{ 
        max-height: 300px;
        width: 100%;
    }
    .pubb{
        display: none;
    }
    .news h2{
        font-size: 20px;
    }
    .newsh1{
        font-size: 10px;
    }
    .news p{
        font-size: 10px;
    }
    .immnews{
        font-size: 10px;
        width: 100%;
    }
    .immnews2{
        width: 100%;
    }
    .news{
    

    }
    .banner{
        max-width: 100%;

    }
    .page{
        text-align: center;
        max-width: 100%;
    }
}*/