@import url("./media.css");


* {
    box-sizing: border-box;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}

/* Base Style */

body{font-family: 'Inter', sans-serif;font-size: 16px;}




html {
    line-height: 1.15;
    text-size-adjust: 100%;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{color: black;padding-bottom: 30px;}
h2{
    margin-left: 32px;
    padding-bottom: 8px;
}

.big-text{font-size: 60px; font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase;font-size: 13px;font-weight: bold;}

.button{padding: 6px 25px; background: red; color: #fff; display: inline-block; border-radius: 4px;}


@media (max-width: 768px) {
    
    .big-text{font-size: 40px;}

}


/* Header */

.banner{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    padding: 30px;
    padding-bottom: 5px;
    display: flex;
    background: white;
    z-index: 1;
}
.menu{width: 100%;}



.cta{
    display: inline-block;
}


.menu li{display: inline-block}
.menu li a{
    color:grey;
    padding: 10px;
    display: block;
    font-family: "Helvetica Neue"; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    text-transform: uppercase;
}
.menu li a:hover{
    color: black;
}



/* Hero*/

.hero{
    height: 650px;
    display: flex; width: 100%; align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,.8), rgba(0,0,0,0)), url('back2.png') no-repeat center center;
    background-size: cover;
    margin-top: 150px;
}

.hero__content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}


/*NEWS*/

.news{
    padding: 5px;
}
.immnews{
    width: 49%;
    display: inline-block;
    padding: 15px;
}
.immnews img{
    transition: 1.5s;
}
.immnews img:hover{
    transform: scale(1.05);
}

.immnews2{
    width: 33%;
    display: inline-block;
    padding: 10px;
    padding-top: 35px;
}
.immnews2 img{
    transition: 1.5s;
}
.immnews2 img:hover{
    transform: scale(1.05);
}


.news p{
    font-family: "Helvetica Neue"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    padding: 0;
}
.news h1{
    font-family: "Helvetica Neue"; font-size: 25px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 27.5px; padding: 20px; padding-bottom: 5px; margin: 0;
}
.news h2{
    font-family: "Helvetica Neue"; font-size: 30px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
}
.immnews2 h2{
    font-family: "Helvetica Neue"; font-size: 22px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
}




/* PUBBLICITA'*/

.pubb{
    width: 100%;
    padding: 45px;
    margin: auto;
    text-align: center;
}



/*SHOP*/

.immagine{
    margin:auto;
}
.imm{
    padding: 15px;
    padding-top: 0px;
    display: inline-block;
    width: 33%;
    text-align: center;
}
.hero__content h1,
.hero__content p{color:white;}

.button2{padding: 8px 30px; background: red; color: #fff; display: inline-block; border-radius: 4px; margin-top: 10px; }

div {
    display: block;
}
.immagine h1{
    font-family: "Helvetica Neue"; font-size: 25px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 27.5px; padding: 35px; padding-bottom: 5px;
}


/*FINE*/

.end{
    width: 100%;
    flex: 0 0 auto;
    padding: 50px;
    background-color: black;
    color: white;
    margin-top: 40px;
}

.logo{
    text-align: center;
}
.contatti1{
    text-align: center;
    padding: 10px;
    padding-bottom: 0px;
}
.contatti1 p{
    color: white;
    font-size: 18px;
    padding-bottom: 0;
}
.contatti2{
    text-align: center;
    padding: 5px;
    padding-top: 0;
    width: 40%;
    background:black;
    margin: auto;
}
.contatti2 li{display: inline-block; padding: 6px; margin: auto;}

/*FOOTER*/
footer{
    clear: both;
    padding: 10px;
    font-style: italic;
    background: black;
    color: white;
}



/*PAGINA NEWS*/

.foglio{
    margin: auto;
    margin-left: 85px;
    margin-right: 85px;
    margin-top: 150px;
}
.immnews3{
    width: 49%;
    display: inline-block;
    padding: 10px;
}
.immnews4{
    width: 33%;
    display: inline-block;
    padding: 10px;
    padding-top: 35px;
}
.immnews4 h2{
    font-family: "Helvetica Neue"; font-size: 22px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 33px; padding: 0; margin: 0;
}
.immnews3 img{
    transition: 1.5s;
}
.immnews3 img:hover{
    transform: scale(1.05);
}
.immnews4 img{
    transition: 1.5s;
}
.immnews4 img:hover{
    transform: scale(1.05);
}
.foglio h1{
    padding-bottom: 20px;
}


/*PAGINA BIGLIETTERIA*/

.big{
    text-align: center;
}
.big h1{
        font-family: "Helvetica Neue"; font-size: 26px; font-style: normal; font-variant: small-caps; font-weight: 700; line-height: 27.5px; padding: 5px; margin: 0; padding-bottom: 0;
}
.big p{
        font-family: "Helvetica Neue"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
        padding: 5px; padding-top: 2px;
}
.big h2{
    font-family: "Helvetica Neue"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
.text{
    padding: 10px;
    text-align: justify;
    padding-right: 50px;
    padding-left: 40px;
    padding-top: 20px;
}
.text p{
    font-family: "Helvetica Neue"; font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
}
.foglio2{
    margin: auto;
    margin-left: 85px;
    margin-right: 85px;
}
.down{
    width: 100%;
    background: white;
    margin-bottom: 75px;
}
.share{
    width: 100%;
}

.share li{
    display: inline-block;
    font-weight: 700;
}
.share img{
    padding-left: 15px;
}

/*PAGINA SQUADRA*/

.portieri{
    width: 100%;
}
.immP{
    width: 24%;
    display: inline-block;
    padding: 5px;
}
.change {
    font-family: "Helvetica Neue"; font-size: 28px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
}
.portieri h2{
    font-family: "Helvetica Neue"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 24.2px; color: goldenrod;
}