* {
    box-sizing: border-box;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}

/* Base Style */

body{font-family: 'Inter', sans-serif;font-size: 16px;}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,p{color: black;padding-bottom: 30px;}


.big-text{font-size: 70px; font-weight: 900;}
.med-text{font-size: 40px;}
.normal-text{font-size: 20px;}
.small-text{font-size: 14px;}

.intro-text{text-transform: uppercase;font-size: 20px;font-weight: bold;}

.button{padding: 6px 25px; background: red; color: #fff; display: inline-block; border-radius: 4px;}


@media (max-width: 768px) {
    
    .big-text{font-size: 40px;}

}

/* Header */

header{
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    padding: 30px;
    display: flex;
    background: white;
}
.menu{width: 100%;}

.logo{}

.cta{}


.menu li{display: inline-block}
.menu li a{color:black;padding: 10px;display: block;}


@media (max-width: 768px) {

.cta{display: none;}

}

/* Hero*/

.hero{
    height: 600px;
    display: flex; width: 100%; align-items: center;
    background: url('back.PNG') no-repeat center center;
    background-size: cover;
}

.hero__content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
}

.hero__content h1,
.hero__content p{color:black;}